<header>
Header
</header>
<body>
<form action="/login" method="POST" style="margin:150px;">
      <label for="login">username:</label>
      <input id="login" type="text" name="username" placeholder="username" style="width: 300px">
      <input type="submit" value="login">
    </form>
    </body>