<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <li>
      <ul>
          <% for (item in urls) { %>
        <li><%= item %> - <%= urls[item] %></li>
    <% } %>

      </ul>
    </li>
</body>
</html>