<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
<h1>urls</h1>
    <!-- Add your EJS code here -->
      <ul>
          <% for (item in urls) { %>
        <li><%= item %> - <%= item['url'] %></li>
        <form method="POST" action="/urls/<%= item%>/delete">
        <p>
        <button>Delete url</button>
        </p>
        </form>
        <a href="/urls/<%=item %>"><button>edit url</button></a>

    <% } %>


      </ul>
    
</body>
</html>